.selection-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.theme-button{
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.equipment-filter{
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.equipment-button{ 
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  align-items: center;
}

.difficulty-filter{
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.difficulty-button{
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  align-items: center;
}

.button-label{
  font-size: 2rem;
  margin: 0.5em;
}

/* Animations */
#Everything:hover {
  transform: scale(1.5);
}

#Dumbbells:hover{
  transform: scale(1.5);
}

#BodyWeight:hover{
  transform: scale(1.5);
}

#changeTheme:hover{
  transform: scale(1.5);
}

#easy-difficulty:hover{
  transform: scale(1.5);
}

#moderate-difficulty:hover{
  transform: scale(1.5);
}

#hard-difficulty:hover{
  transform: scale(1.5);
}