@import url(variables.css);


html, *, body{
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--primary);
  color: var(--secondary);
}

.heading {
  font-size: 5rem;
  text-align: center;
  margin: 2rem;
}

/* weird*/
.selection-buttons{
  display: flex;
  font-size: 3rem;
  justify-content: center;
} 
.workouts-buttons{
  display: flex;
  font-size: 3rem;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2em;
}

.card {
  margin: 2rem;
  padding: 1rem;
  width: 21%;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  outline: 0.2rem solid brown;
}

.card-head{
  font-size: 3rem;

}

.card-img{
  display: flex;
  width: 30vh;
  height: auto;
  border-radius: 10px;
  
}
.card-p {
  font-size: 2rem;
}


