@import url(themes.css);
@import url(cards.css);
@import url(buttons.css);


html, *, body{
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--primary);
  color: var(--secondary);
}

.heading {
  font-size: 5rem;
  text-align: center;
  margin: 0.5em;
}

/* viewing stuff, change selection-button wrapping if have time */

@media screen and (max-width: 1080px) {
  .card {
    width: 25%;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
  }
}

