@import url(variables.css);

:root {
  --dark-blue: #135cc5;
  --primary: var(var(--dark-blue));
  --h1: 7.594rem;

}

html, *, body{
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;

}

.overview{

}
.selection-buttons{
  
}
.cards{

}
